.container {
    display: flex;
    width: 400px;
}

.card {
    height: 200px;
    flex: 1;
    transition: .7s;
}

.card:hover {
    flex: 3;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}